# Reading and writing Data on MS Excel Files 2_27

In [ ]:
# to_excel() and read_excel() can read .xls (2003) and .xlsx (2007)

In [11]:
import pandas as pd
import numpy as np
import xlrd

In [12]:
pd.read_excel('ch05_data.xlsx')

   white  red  green  black
a     12   23     17     18
b     22   16     19     18
c     14   23     22     21

In [13]:
# I have to install xlrd 
import xlrd

In [14]:
frame = pd.DataFrame(np.random.random((4,4)),index = ['exp1','exp2','exp3','exp4'],columns=['Jan2015','Feb2015','Mar2015','Apr2015'])

In [15]:
frame

       Jan2015   Feb2015   Mar2015   Apr2015
exp1  0.381932  0.016942  0.996404  0.896397
exp2  0.950914  0.991847  0.632967  0.157146
exp3  0.658367  0.691497  0.033709  0.596813
exp4  0.722390  0.638520  0.947686  0.362713

In [18]:
'''
writing the analysis result back to Excel file
'''
import openpyxl
frame.to_excel('data2.xlsx')   #no module named 'openpyxl'  => pip install openpyxl