# Series and Dict using Pandas

In [2]:
'''
Start thinkig pd.Series as the same thing as a dictionary data strucuture

'''

import pandas as pd
import numpy as np

mydict = {'red': 2000, 'blue':1000, 'yellow': 500}
myseries = pd.Series(mydict)
print(myseries)

red       2000
blue      1000
yellow     500
dtype: int64

In [11]:
colors = ['red','blue','yellow','green']
myseries = pd.Series(mydict, index=colors)
print(myseries)

red       2000.0
blue      1000.0
yellow     500.0
green        NaN
dtype: float64

# Operation between Series

In [ ]:
#page 102:  when you add two seires with values, only the items with the same label are added

# DataFrame

In [ ]:
#Dataframe is like an excel (page 102-103)
#Most common way to create a dataframe is to pas dict object to dataframe (p. 103)
#Defining Dataframe below from scratch

In [12]:
data = {'color': ['blue','green','yellow','red','white'], 'object': ['ball','pen','pencil','paper','mug'],'price': [1.2,1.0,0.6,0.9,1.7]}

In [13]:
frame = pd.DataFrame(data)

In [14]:
print(frame)

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [15]:
frame2 = pd.DataFrame(data, columns = ['object', 'price'])   # select only the columns you want.

In [16]:
print(frame2)

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [17]:
frame2 = pd.DataFrame(data, index=['one', 'two', 'three', 'four', 'five'])

In [18]:
print(frame2)

        color  object  price
one      blue    ball    1.2
two     green     pen    1.0
three  yellow  pencil    0.6
four      red   paper    0.9
five    white     mug    1.7

In [19]:
frame3 = pd.DataFrame(np.arange(16).reshape((4,4)),index =['red','blue','yellow','white'], columns=['ball','pen','pencil','paper'])

In [21]:
print(frame3)

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

# Selecting Elements (pg 105)

In [22]:
frame3['pen']   #selecting a column based on column name

red        1
blue       5
yellow     9
white     13
Name: pen, dtype: int32

In [23]:
#or
frame3.pen    #same thing...can be a function or attribute

red        1
blue       5
yellow     9
white     13
Name: pen, dtype: int32

In [27]:
frame3.loc['red']

ball      0
pen       1
pencil    2
paper     3
Name: red, dtype: int32

In [34]:
frame3.index.name = 'index name'
frame3.columns.name = 'Items'
frame3

Items       ball  pen  pencil  paper
index name
red            0    1       2      3
blue           4    5       6      7
yellow         8    9      10     11
white         12   13      14     15

In [35]:
frame3['eraser'] = 4

In [36]:
frame3

Items       ball  pen  pencil  paper  eraser
index name
red            0    1       2      3       4
blue           4    5       6      7       4
yellow         8    9      10     11       4
white         12   13      14     15       4

In [37]:
frame3['column6']=[1.5, 2,0.5,4]   # added a column and specified each value using an array

In [39]:
frame3

Items       ball  pen  pencil  paper  eraser  column6
index name
red            0    1       2      3       4      1.5
blue           4    5       6      7       4      2.0
yellow         8    9      10     11       4      0.5
white         12   13      14     15       4      4.0

In [40]:
frame3['column6']['yellow']=1   #not sure about the warning but it works

c:\users\dicei\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
frame3

Items       ball  pen  pencil  paper  eraser  column6
index name
red            0    1       2      3       4      1.5
blue           4    5       6      7       4      2.0
yellow         8    9      10     11       4      1.0
white         12   13      14     15       4      4.0

In [42]:
frame3.isin([1.0,'column6'])   #isin() returns Boolean

Items        ball    pen  pencil  paper  eraser  column6
index name
red         False   True   False  False   False    False
blue        False  False   False  False   False    False
yellow      False  False   False  False   False     True
white       False  False   False  False   False    False

In [43]:
frame3[frame3.isin([1.0,'column6'])]

Items       ball  pen  pencil  paper  eraser  column6
index name
red          NaN  1.0     NaN    NaN     NaN      NaN
blue         NaN  NaN     NaN    NaN     NaN      NaN
yellow       NaN  NaN     NaN    NaN     NaN      1.0
white        NaN  NaN     NaN    NaN     NaN      NaN