In [ ]:
# Python Pandas DropEntry Lesson 18

In [15]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [4]:
se = np.arange(3)

ser1 = Series(se,index =['a','b','c'])

AttributeError: module 'pandas' has no attribute 'arange'

In [7]:
se = range(3)
ser1 = Series(se, index =['a','b','c'])

In [8]:
ser1

a    0
b    1
c    2
dtype: int64

In [10]:
ser1.drop('b')

a    0
c    2
dtype: int64

In [16]:
np_array1 = np.arange(9).reshape(3,3)

In [19]:
dframe2 = DataFrame(np_array1, index = ['LA','NY','SD'], columns = ['victims', 'severity', 'prognosis'])

In [20]:
dframe2

    victims  severity  prognosis
LA        0         1          2
NY        3         4          5
SD        6         7          8

In [22]:
dframe2.drop('SD')
dframe2.drop('SD')

    victims  severity  prognosis
LA        0         1          2
NY        3         4          5

In [23]:
dframe2

    victims  severity  prognosis
LA        0         1          2
NY        3         4          5
SD        6         7          8

In [24]:
dframe3 = dframe2.drop('SD')

In [25]:
dframe3

    victims  severity  prognosis
LA        0         1          2
NY        3         4          5

In [26]:
dframe3.drop('prognosis',axis =1)

    victims  severity
LA        0         1
NY        3         4