# Python Pandas Reshaping DataFrames Lesson 33

In [10]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
# We will work on stack() and unstack() method to reshape DF and Series

In [11]:
df1 = DataFrame(np.arange(8).reshape(2,4),
                index=pd.Index(['LA','SF'],name='city'),columns = pd.Index(['A','B','C','D'],name = 'letter'))

In [12]:
print(df1)   #video 2:20

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [14]:
df_stack = df1.stack()
print(df_stack)

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int32

In [15]:
df_stack.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [16]:
df1.unstack('city')

letter  city
A       LA      0
        SF      4
B       LA      1
        SF      5
C       LA      2
        SF      6
D       LA      3
        SF      7
dtype: int32

In [21]:
ser1 = Series([0,1,2], index = ['Q','X','Y'])
print(ser1)
print(type(ser1))
ser2 = Series([4,5,6], index = ['X','Y','Z'])
print(ser2)

Q    0
X    1
Y    2
dtype: int64
<class 'pandas.core.series.Series'>
X    4
Y    5
Z    6
dtype: int64

In [24]:
dfame = pd.concat([ser1,ser2],keys = ['Alpha','Beta'])
print(dfame)

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [26]:
dframe_unstacked = dfame.unstack()    #this undtack turned the two series into DataFrame 
print(dframe_unstacked)

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [28]:
dframe_unstacked.stack()    #Stack it again

Alpha  Q    0.0
       X    1.0
       Y    2.0
Beta   X    4.0
       Y    5.0
       Z    6.0
dtype: float64

In [29]:
dframe_unstacked.stack(dropna = False)

Alpha  Q    0.0
       X    1.0
       Y    2.0
       Z    NaN
Beta   Q    NaN
       X    4.0
       Y    5.0
       Z    6.0
dtype: float64