# Python Pandas Lesson24 Index hierarchy 3_25_2020

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
from numpy.random import randn

In [4]:
series = Series(randn(6),index = [[1,1,1,2,2,2],['a','b','c','a','b','c']])  #multilayer index

In [5]:
series

1  a   -0.822709
   b    0.646420
   c   -0.852295
2  a    0.788464
   b   -0.003989
   c   -1.821886
dtype: float64

In [6]:
series.index   # gives you levels in the attributes as well as labels

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
print('series[0]')
print(series[0])
print('series[1]')
print(series[1])
print('series[2]')
print(series[2])

series[0]
-0.8227091850719574
series[1]
a   -0.822709
b    0.646420
c   -0.852295
dtype: float64
series[2]
a    0.788464
b   -0.003989
c   -1.821886
dtype: float64

In [11]:
series[:,'a']   #this is a very wierd syntax addressing second layer of the index

1   -0.822709
2    0.788464
dtype: float64

# multiple level series with indeies can be unstacked in to dataframe

In [13]:
df3 = series.unstack()

In [14]:
df3

          a         b         c
1 -0.822709  0.646420 -0.852295
2  0.788464 -0.003989 -1.821886

In [20]:
df4 = DataFrame(np.arange(16).reshape(4,4), index =[['a','a','b','b'],[1,2,1,2]], 
                columns =[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [21]:
df4

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [22]:
df4.index.names = ['INDEX_1','INDEX_2']
df4.columns.names = ['Cities','Temp']
df4

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [23]:
df4.swaplevel('Cities','Temp',axis =1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [26]:
print("Sorting level 0")
print(df4.sort_index(0))
print("sorting level 1")
print(df4.sort_index(1))
print("Sorting level 2")
print(df4.sort_index(2))

Sorting level 0
Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15
sorting level 1
Cities           LA   NY       SF
Temp            hot cold hot cold
INDEX_1 INDEX_2
a       1         2    0   1    3
        2         6    4   5    7
b       1        10    8   9   11
        2        14   12  13   15
Sorting level 2

ValueError: No axis named 2 for object type <class 'pandas.core.frame.DataFrame'>

In [30]:
print(df4)
df4.sum(level='Temp', axis =1)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27