# Python Pandas Selecting entries Lesson 19 3_23_2020

In [32]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [61]:
ser1 = Series(np.arange(3),index = ['A','B','C'])

In [62]:
ser1

A    0
B    1
C    2
dtype: int32

In [35]:
ser1 = ser1*2

In [36]:
ser1

A    0
B    2
C    4
dtype: int32

In [18]:
ser1[2]

4

In [19]:
ser1[0:3]

A    0
B    2
C    4
dtype: int32

In [20]:
ser1['B']

2

In [37]:
ser1[['B','C']]

B    2
C    4
dtype: int32

In [21]:
ser1[ser1>3]

C    4
dtype: int32

In [38]:
ser1[ser1>3]=10
ser1

A     0
B     2
C    10
dtype: int32

In [59]:
df1 = DataFrame(np.arange(25).reshape((5,5)),index=['NYC','SF','LA','DC','CHI'],columns=['A','B','C','D','E'])

In [40]:
df1

      A   B   C   D   E
NYC   0   1   2   3   4
SF    5   6   7   8   9
LA   10  11  12  13  14
DC   15  16  17  18  19
CHI  20  21  22  23  24

In [26]:
df1[['B','E']]   # Selecting columns double brackets because it is a DF (or two series )we are selecting

      B   E
NYC   1   4
SF    6   9
LA   11  14
DC   16  19
CHI  21  24

In [41]:
df1[df1['C']>8]

      A   B   C   D   E
LA   10  11  12  13  14
DC   15  16  17  18  19
CHI  20  21  22  23  24

In [42]:
df1 > 10     #Boolean dataframe

         A      B      C      D      E
NYC  False  False  False  False  False
SF   False  False  False  False  False
LA   False   True   True   True   True
DC    True   True   True   True   True
CHI   True   True   True   True   True

In [60]:
print(df1)

df1.iloc('LA')

      A   B   C   D   E
NYC   0   1   2   3   4
SF    5   6   7   8   9
LA   10  11  12  13  14
DC   15  16  17  18  19
CHI  20  21  22  23  24

ValueError: No axis named LA for object type <class 'pandas.core.frame.DataFrame'>

In [53]:
df1['B']

NYC     1
SF      6
LA     11
DC     16
CHI    21
Name: B, dtype: int32

In [55]:
df1['NYC']

KeyError: 'NYC'