# Python Pandas Lesson 27 3_26_2020

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt

# working with HTML and XML

In [2]:
from pandas import read_html

In [3]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

In [4]:
'''
you need:
pip install beautifulsoup4
pip install html5lib
requirements are satisfied
'''

dframe_list = pd.io.html.read_html(url)   #VIP  VIP VIP VIP

In [9]:
dframe_list
dframe = dframe_list[0]
print(dframe)
type(dframe)

                                             Bank Name                City  \
0                                   Ericson State Bank             Ericson
1                     City National Bank of New Jersey              Newark
2                                        Resolute Bank              Maumee
3                                Louisa Community Bank              Louisa
4                                 The Enloe State Bank              Cooper
5                  Washington Federal Bank for Savings             Chicago
6      The Farmers and Merchants State Bank of Argonia             Argonia
7                                  Fayette County Bank          Saint Elmo
8    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
9                                       First NBC Bank         New Orleans
10                                       Proficio Bank  Cottonwood Heights
11                       Seaway Bank and Trust Company             Chicago
12                              Harvest Community Bank          Pennsville
13                                         Allied Bank            Mulberry
14                        The Woodbury Banking Company            Woodbury
15                              First CornerStone Bank     King of Prussia
16                                  Trust Company Bank             Memphis
17                          North Milwaukee State Bank           Milwaukee
18                              Hometown National Bank            Longview
19                                 The Bank of Georgia      Peachtree City
20                                        Premier Bank              Denver
21                                      Edgebrook Bank             Chicago
22                              Doral Bank  En Español            San Juan
23                   Capitol City Bank & Trust Company             Atlanta
24                             Highland Community Bank             Chicago
25                    First National Bank of Crestview           Crestview
26                                  Northern Star Bank             Mankato
27              Frontier Bank, FSB D/B/A El Paseo Bank         Palm Desert
28               The National Republic Bank of Chicago             Chicago
29                                      NBRS Financial          Rising Sun
..                                                 ...                 ...
530                                  ANB Financial, NA         Bentonville
531                                          Hume Bank                Hume
532                             Douglass National Bank         Kansas City
533                                  Miami Valley Bank            Lakeview
534                                            NetBank          Alpharetta
535                          Metropolitan Savings Bank          Pittsburgh
536                                    Bank of Ephraim             Ephraim
537                                      Reliance Bank        White Plains
538              Guaranty National Bank of Tallahassee         Tallahassee
539                                Dollar Savings Bank              Newark
540                               Pulaski Savings Bank        Philadelphia
541              First National Bank of Blanchardville      Blanchardville
542                              Southern Pacific Bank            Torrance
543                        Farmers Bank of Cheneyville         Cheneyville
544                                      Bank of Alamo               Alamo
545             AmTrade International Bank  En Español             Atlanta
546                     Universal Federal Savings Bank             Chicago
547                       Connecticut Bank of Commerce            Stamford
548                                   New Century Bank     Shelby Township
549                              Net 1st National Bank          Boca Raton
550                                       NextBank, NA             Phoenix
551                           Oakwood Deposit Bank Co.             Oakwood
552                              Bank of Sierra Blanca       Sierra Blanca
553                      Hamilton Bank, NA  En Español               Miami
554                             Sinclair National Bank            Gravette
555                                 Superior Bank, FSB            Hinsdale
556                                Malta National Bank               Malta
557                    First Alliance Bank & Trust Co.          Manchester
558                  National State Bank of Metropolis          Metropolis
559                                   Bank of Honolulu            Honolulu

     ST   CERT                Acquiring Institution        Closing Date
0    NE  18265           Farmers and Merchants Bank   February 14, 2020
1    NJ  21111                      Industrial Bank    November 1, 2019
2    OH  58317                   Buckeye State Bank    October 25, 2019
3    KY  58112    Kentucky Farmers Bank Corporation    October 25, 2019
4    TX  10716                   Legend Bank, N. A.        May 31, 2019
5    IL  30570                   Royal Savings Bank   December 15, 2017
6    KS  17719                          Conway Bank    October 13, 2017
7    IL   1802            United Fidelity Bank, fsb        May 26, 2017
8    WI  30003  First-Citizens Bank & Trust Company         May 5, 2017
9    LA  58302                         Whitney Bank      April 28, 2017
10   UT  35495                    Cache Valley Bank       March 3, 2017
11   IL  19328                  State Bank of Texas    January 27, 2017
12   NJ  34951  First-Citizens Bank & Trust Company    January 13, 2017
13   AR     91                         Today's Bank  September 23, 2016
14   GA  11297                          United Bank     August 19, 2016
15   PA  35312  First-Citizens Bank & Trust Company         May 6, 2016
16   TN   9956           The Bank of Fayette County      April 29, 2016
17   WI  20364  First-Citizens Bank & Trust Company      March 11, 2016
18   WA  35156                       Twin City Bank     October 2, 2015
19   GA  35259                        Fidelity Bank     October 2, 2015
20   CO  34112            United Fidelity Bank, fsb       July 10, 2015
21   IL  57772             Republic Bank of Chicago         May 8, 2015
22   PR  32102         Banco Popular de Puerto Rico   February 27, 2015
23   GA  33938  First-Citizens Bank & Trust Company   February 13, 2015
24   IL  20290            United Fidelity Bank, fsb    January 23, 2015
25   FL  17557                       First NBC Bank    January 16, 2015
26   MN  34983                            BankVista   December 19, 2014
27   CA  34738    Bank of Southern California, N.A.    November 7, 2014
28   IL    916                  State Bank of Texas    October 24, 2014
29   MD   4862                          Howard Bank    October 17, 2014
..   ..    ...                                  ...                 ...
530  AR  33901       Pulaski Bank and Trust Company         May 9, 2008
531  MO   1971                        Security Bank       March 7, 2008
532  MO  24660       Liberty Bank and Trust Company    January 25, 2008
533  OH  16848         The Citizens Banking Company     October 4, 2007
534  GA  32575                           ING DIRECT  September 28, 2007
535  PA  35353  Allegheny Valley Bank of Pittsburgh    February 2, 2007
536  UT   1249                        Far West Bank       June 25, 2004
537  NY  26778                     Union State Bank      March 19, 2004
538  FL  26838              Hancock Bank of Florida      March 12, 2004
539  NJ  31330                          No Acquirer   February 14, 2004
540  PA  27203                       Earthstar Bank   November 14, 2003
541  WI  11639                        The Park Bank         May 9, 2003
542  CA  27094                            Beal Bank    February 7, 2003
543  LA  16445            Sabine State Bank & Trust   December 17, 2002
544  TN   9961                          No Acquirer    November 8, 2002
545  GA  33784                          No Acquirer  September 30, 2002
546  IL  29355               Chicago Community Bank       June 27, 2002
547  CT  19183                   Hudson United Bank       June 26, 2002
548  MI  34979                          No Acquirer      March 28, 2002
549  FL  26652                       Bank Leumi USA       March 1, 2002
550  AZ  22314                          No Acquirer    February 7, 2002
551  OH   8966       The State Bank & Trust Company    February 1, 2002
552  TX  22002     The Security State Bank of Pecos    January 18, 2002
553  FL  24382     Israel Discount Bank of New York    January 11, 2002
554  AR  34248                   Delta Trust & Bank   September 7, 2001
555  IL  32646                Superior Federal, FSB       July 27, 2001
556  OH   6629                    North Valley Bank         May 3, 2001
557  NH  34264  Southern New Hampshire Bank & Trust    February 2, 2001
558  IL   3815              Banterra Bank of Marion   December 14, 2000
559  HI  21029                   Bank of the Orient    October 13, 2000

[560 rows x 6 columns]

pandas.core.frame.DataFrame

In [10]:
dframe.columns.values

array(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date'], dtype=object)

In [12]:
df_colums = Series(dframe.columns.values)

In [14]:
df_colums

0                Bank Name
1                     City
2                       ST
3                     CERT
4    Acquiring Institution
5             Closing Date
dtype: object