# Python Pandas Lesson 30 Merge on Index 3_26_2020

In [21]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [9]:
df_left =DataFrame({'key':['x','y','z','x','y'],
                    'data':range(5)
                   })
print(df_left)

  key  data
0   x     0
1   y     1
2   z     2
3   x     3
4   y     4

In [10]:
df_right = DataFrame({'group_data':[10,20]}, index=['x','y'])
print(df_right)

   group_data
x          10
y          20

In [11]:
pd.merge(df_left, df_right,left_on = 'key',right_index = True)

  key  data  group_data
0   x     0          10
3   x     3          10
1   y     1          20
4   y     4          20

In [13]:
df_left_hr = DataFrame({'key1':['SF','SF','SF','LA','LA'],
                        'key2':[10,20,30,20,30],
                        'dataset':np.arange(5.)
                       })

In [14]:
df_left_hr

  key1  key2  dataset
0   SF    10      0.0
1   SF    20      1.0
2   SF    30      2.0
3   LA    20      3.0
4   LA    30      4.0

In [30]:
df_right_hr = DataFrame(np.arange(10).reshape(5,2),
                        index=[['LA','LA','SF','SF','SF'],
                        [20,10,10,10,10]],
                        columns = ['col_1','col_2'])

In [32]:
print(df_left_hr)
print(df_right_hr)

  key1  key2  dataset
0   SF    10      0.0
1   SF    20      1.0
2   SF    30      2.0
3   LA    20      3.0
4   LA    30      4.0
       col_1  col_2
LA 20      0      1
   10      2      3
SF 10      4      5
   10      6      7
   10      8      9

In [35]:
pd.merge(df_left_hr, df_right_hr, left_on =['key1','key2'], right_index = True)

  key1  key2  dataset  col_1  col_2
0   SF    10      0.0      4      5
0   SF    10      0.0      6      7
0   SF    10      0.0      8      9
3   LA    20      3.0      0      1

In [ ]:
'''
left_onlabel or list, or array-like

Column or index level names to join on in the left DataFrame. 
Can also be an array or list of arrays of the length of the left DataFrame. 
These arrays are treated as if they are columns.

left_indexbool, default False
Use the index from the left DataFrame as the join key(s). If it is a MultiIndex, 
the number of keys in the other DataFrame (either the index or a number of columns) must match the number of levels.

right_indexbool, default False
Use the index from the right DataFrame as the join key. Same caveats as left_index.
'''

In [36]:
df_left.join(df_right)

  key  data  group_data
0   x     0         NaN
1   y     1         NaN
2   z     2         NaN
3   x     3         NaN
4   y     4         NaN

In [37]:
df_right.join(df_left)

   group_data  key  data
x          10  NaN   NaN
y          20  NaN   NaN