# Python Pandas DataFrame Lecture 16: Indexing

In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [11]:
my_ser = Series([1,2,3,4], index = ['A','B','C','D'])

In [4]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser_index = my_ser.index

In [6]:
ser_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [7]:
ser_index[2]

'C'

In [8]:
ser_index[2:]

Index(['C', 'D'], dtype='object')

In [9]:
ser_index[0] = 'Z'   #this gives an error because indexes are immutable!!

TypeError: Index does not support mutable operations

# Python Pandas DataFrame Lecture 17: Reidexing

In [10]:
from numpy.random import randn

In [12]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [13]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [14]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])    #function reindex

In [15]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [16]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [17]:
Series3 = Series(['USA','Mexico','CANADA'], index=[3,5,10])

In [18]:
Series3

3        USA
5     Mexico
10    CANADA
dtype: object

In [19]:
ranger = range(15)

In [27]:
ranger2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [21]:
ranger

range(0, 15)

In [28]:
Series3.reindex(ranger2,method = 'ffill')

1        NaN
2        NaN
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    CANADA
11    CANADA
12    CANADA
13    CANADA
14    CANADA
15    CANADA
dtype: object

In [32]:
df = DataFrame(randn(25).reshape(5,5),index=['A','B','D','C','F'],columns = ['column1','column2','column3','column4','column5'])

In [33]:
df

    column1   column2   column3   column4   column5
A  1.701403 -0.652112 -0.489548 -0.881797 -0.341124
B  0.950281  1.149198  2.016723 -0.075308 -1.026486
D -0.429377  0.135294  0.595257 -0.314247 -2.041837
C -0.684326 -0.165833  0.705051 -1.120719 -0.332794
F  1.094234 -0.636026  1.104879  0.573363 -0.587172

In [36]:
daframe2 = df.reindex(['A','B','C','D','E','F'])

In [40]:
daframe2

    column1   column2   column3   column4   column5  column6
A  1.701403 -0.652112 -0.489548 -0.881797 -0.341124      NaN
B  0.950281  1.149198  2.016723 -0.075308 -1.026486      NaN
D -0.429377  0.135294  0.595257 -0.314247 -2.041837      NaN
C -0.684326 -0.165833  0.705051 -1.120719 -0.332794      NaN
F  1.094234 -0.636026  1.104879  0.573363 -0.587172      NaN

In [38]:
new_column = ['column1','column2','column3','column4','column5','column6']
daframe2 = df.reindex(columns = new_column)

In [41]:
daframe2

    column1   column2   column3   column4   column5  column6
A  1.701403 -0.652112 -0.489548 -0.881797 -0.341124      NaN
B  0.950281  1.149198  2.016723 -0.075308 -1.026486      NaN
D -0.429377  0.135294  0.595257 -0.314247 -2.041837      NaN
C -0.684326 -0.165833  0.705051 -1.120719 -0.332794      NaN
F  1.094234 -0.636026  1.104879  0.573363 -0.587172      NaN