# Reading and writing JSON data in Python: 2_28_2020
# read_json() 
# to_json()

In [1]:
import pandas as pd
import numpy as np

In [3]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),index=['white','black','red','left'],columns = ['up','down','right','left'])

In [5]:
print(frame)
frame.to_json('frame.json')   #write to JSON file: go to the file and go to jsonlint to verify it

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
left   12    13     14    15

In [6]:
pd.read_json('frame.json')     #reading in JSON file

       up  down  right  left
black   4     5      6     7
left   12    13     14    15
red     8     9     10    11
white   0     1      2     3